#intro {
  background-image: url(img/Header\ bg@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 767.98px) {
  .menu {
    display: none;
  }
}

@media (min-width: 767.98px) {
  .bar {
    display: none;
  }
}